{% extends 'base.html' %}
{% block title %}
Страница о нас
{% endblock title %}

{% block body%}
<h1>Дипломная работа по курсу «Python-разработчик»</h1>
<h3>Тема: Написание сайта приема заявок на Flask</h3>
<h3>Urban University 2024</h3>

Flask – это микрофреймворк, в котором приоритет отдается простоте и гибкости, а не встроенной функциональности. Это означает, что разработчики могут выбирать инструменты и расширения по мере необходимости, что делает его идеальным для малых и средних проектов.
Примеры использования:

   <li> Прототипирование: Минимальный объем кодового кода Flask делает его отличным выбором для быстрого создания прототипов и разработки пробных версий.</Li>
   <li> RESTful API: Легкий дизайн Flask и широкая поддержка таких расширений, как Flask-RESTful, позволяют разработчикам создавать эффективные REST API.</Li>
    <li>Одностраничные приложения (SPA): Flask может выступать в качестве бэкенда для SPA, используя преимущества своей простоты и легкой интеграции с фреймворками фронтенда.</Li>

<br> Для примера, социальный интернет - сервис для поиска контента Pinterest (pinterest.com), использует Flask для эффективной работы с бэкэнд-операциями, демонстрируя способность к масштабированию и оптимизации производительности.</br>

<li>Легкий микрофреймворк для небольших и средних проектов.</li>
<li>Обеспечивает гибкость и свободу выбора расширений по мере необходимости.</li>
<li>Идеально подходит для прототипирования и разработки RESTful API.</li>
<li>Простой дизайн и минимальная кривая обучения.</li>

<li>Выбирайте Flask, если вам нужен легкий и гибкий микрофреймворк.</li>
<li>Используйте Flask для небольших и средних проектов, где важны простота и минимализм.</li>
<li>Flask отлично подходит для создания прототипов, пробных приложений или RESTful API, когда вы хотите иметь свободу выбора конкретных расширений в зависимости от ваших потребностей.</li>
<li>Flask подходит для проектов с относительно простым бэкендом, где не нужны дополнительные встроенные функции, предлагаемые более крупными фреймворками.</li>

{% endblock %}

