{% extends 'base.html' %}
{% block title %}
Главная страница
{% endblock title %}

{% block body%}
<h1>Добро пожаловать на сайт приема заявок</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Ducimus laboriosam minus nemo quasi.</li>
<li>Dolorem exercitationem expedita ipsa officiis?</li>
<li>Consectetur ea id quae ut.</li>
<li>Molestias nostrum porro ullam veniam!</li>
<li>Consequatur earum laborum possimus sapiente!</li>
<li>Ipsum maiores, voluptatibus! Nobis, sit.</li>
<li>Est facere necessitatibus recusandae suscipit.</li>
<li>Doloribus facilis harum illo ipsum.</li>
<li>Aliquid amet ex laborum ullam.</li>
<li>Odio perspiciatis quas quasi quod.</li>
<li>At ex fuga provident quidem?</li>
<li>Amet blanditiis praesentium quasi sunt.</li>
<li>Blanditiis dolor porro quasi similique?</li>
<li>Amet aut harum maxime numquam.</li>
<li>Cumque distinctio eos nam placeat!</li>
<li>Autem culpa id praesentium quaerat.</li>
<li>Ipsa minus nisi quidem voluptatem!</li>
<li>Autem ducimus eum minus vel!</li>
<li>A corporis harum odio veniam.</li>
<li>Deleniti deserunt ea nemo non!</li>
<li>Accusamus aperiam deleniti impedit quisquam.</li>
<li>Culpa minus molestias repellendus unde.</li>
<li>A atque dolorem harum neque.</li>
<li>Cum molestiae nisi quidem totam?</li>
<li>Dicta ea mollitia recusandae temporibus!</li>
<li>Aspernatur ex numquam quod tempora!</li>
<li>Consequuntur culpa laudantium nisi omnis!</li>

{% endblock %}
