{% extends "blog/base.html" %}
{% block content %}
    <h3>Дипломная работа по курсу «Python-разработчик»</h3>
<p>-------------------------------------------------------------------------</p>

<h7>Тема дипломной работы: </h7>
<h5>Анализ и сравнение написания web-приложений с использованием разных фреймворков</h5>
    <p>Выполнил:</p>
    <h5>Осинников Н.С.</h5>
<p>------------------------------------------------------------------------------</p>

<h3>1. Обзор популярных инструментов для разработки разработки веб-приложений на Python</h3>
<p>
    Python – универсальный и простой язык, что делает его отличным выбором для веб-разработки. Выбор правильного
    фреймворка очень важен для обеспечения эффективности и удобства сопровождения при создании веб-приложений.
    В этой работе мы сравним три популярных веб-фреймворка на Python: Django, Flask, FastAPI
</p>
<p></p>
<h3>Django</h3>
<p>
    Django – это высокоуровневый, полнофункциональный веб-фреймворк, придерживающийся философии
    “батарейки в комплекте”. Его надежная экосистема и следование принципу “не повторяйся” (DRY)
    делают его идеальным решением для сложных приложений и масштабных проектов.
</p>

<h5>Основные возможности:</h5>
<li>Встроенная страница администрирования для управления данными.</li>
<li>ORM (Object-Relational Mapping) для работы с базами данных.</li>
<li>Поддержка аутентификации пользователей и управления доступом.</li>
<li>Мощная система маршрутизации URL.</li>
<li>Шаблонизатор для создания HTML-шаблонов.</li>
<h5>Особенности:</h5>
<p>Идеально подходит для больших и сложных проектов благодаря своей полной экосистеме.</p>

<h3>Flask</h3>
<p>
    Flask – это микрофреймворк, в котором приоритет отдается простоте и гибкости, а не встроенной функциональности.
    Это означает, что разработчики могут выбирать инструменты и расширения по мере необходимости, что делает его идеальным для малых и средних проектов.
</p>
<h5>Основные возможности:</h5>
<li>Минималистичный подход: только основные компоненты без лишних зависимостей.</li>
<li>Высокая гибкость для добавления нужных библиотек и модулей.</li>
<li>Jinja2 для шаблонов и Werkzeug для маршрутизации и обработки запросов.</li>
<h5>Особенности:</h5>
<p>Подходит для небольших и средних проектов, где требуется большая гибкость.</p>

<h3>FastAPI</h3>
<p>
    FastAPI – это веб-фреймворк, предназначенный для быстрого и эффективного создания API. Он сочетает в себе подсказки
    типов Python и асинхронное программирование для создания надежных и автодокументированных API.
</p>
<h5>Основные возможности:</h5>
<li>Высокая производительность благодаря использованию асинхронного программирования (async/await).</li>
<li>Автоматическая генерация интерактивной документации API.</li>
<li>Поддержка валидирования и аннотаций типов данных.</li>
<li>Интеграция с различными библиотеками и инструментами, такими как Pydantic и SQLAlchemy.</li>
<h5>Особенности:</h5>
<p>Часто используется для создания API и микросервисов.</p>
<h3>2. Обзор проекта</h3>
<p>Выполнено веб приложение на базе фреймворка Django, которое позволит пользователям создавать заявки, которые включают заголовок (тему) заявки и текст заявки.
Вместе со стандартным пакетом Django использованы модули django-crispy-forms и Pillow.</p>
<p>Реализована функциональность, необходимая для:</p>
<li> регистрации и авторизации пользователей;</li>
<li>автоматического создания пользовательских профилей;</li>
<li>заполнения и изменения информации в профилях;</li>
<li>автоматического сжатия изображений для аватарок;</li>
<li>создания, редактирования и удаления записей со стороны фронтенда;</li>
<li>пагинации и вывода записей на страницах пользователей.</li>
<p></p>
<p>Чтобы пользователи могли создавать аккаунты, используются стили форм Bootstrap.</p>
<p>2.1 Создание проекта.</p>
<p>Создаем проект и устанавливаем все необходимые приложения и компоненты.</p>
<li>pip install django</li>
<li>django-admin startproject my_site</li>
<li>python manage.py startapp blog</li>
<li>python manage.py startapp users</li>
<li>python manage.py migrate</li>
<li>python manage.py createsuperuser</li>
<li>python manage.py runserver</li>
<p></p>
<p>Дополнительно устанавливаем:</p>
    <li>pip install django-crispy-forms</li>
    <li>pip install crispy-bootstrap4</li>
    <li>pip install pillow</li>
<p></p>
<p>
    Чтобы страницы выглядели интереснее, чем простые надписи на белом фоне, используем шаблоны.
По умолчанию Django будет искать шаблоны в папке templates приложения blog. Создадим templates,
a внутри нее поддиректорию с тем же названием, что и приложение – blog. Это стандартная практика:
так Django понимает, что шаблоны относятся именно к приложению blog. Внутри папки templates\blog создаем файлы html -
шаблоны about.html, base.html, home.html, а так же шаблоны, непосредственно относящиеся к формированию заявок
пользователей - post_confirm_delete.html, post_detail.html, post_form.html, user_posts.html.
На одном уровне с templates создайте папку static, а внутри нее еще одну одноименную с приложением
поддиректорию blog – в ней будeт размещаться css-файл main.css, который переопределяет стили Bootstrap.
Шаблоны в Django состоят из комбинации html, css, JavaScript, логики и переменных, которые заключаются в фигурные скобки соответственно.
</p>
<p>
    Аналогично, создадим директорию templates в приложении users, a внутри нее поддиректорию с тем же названием, что и приложение – users.
Разместим в директории шаблоны, отвечающие за регистрацию, авторизацию и форму профиля пользователей на сайте - login.html, logout.html, profile.html, register.html.
Разделение форм по разным приложениям удобно, с точки зрения разделения проектов, при необходимости, в дальнейшем, а так же наращивания функционала нашего сайта.
</p>

<p>2.2. Оформление форм Django с помощью django-crispy-forms</p>
<p>
    Django по умолчанию не предоставляет никаких методов оформления форм Django, из-за чего требуется много усилий и времени, чтобы красиво оформить форму. Модуль django-crispy-forms решает эту проблему за нас.
</p>
<p>
    Для функционирования потребуются модули:
    </p>
    <li>django-crispy-forms</li>
    <li>crispy-bootstrap4</li>

<p>2.3 Оформление CSS-форм</p>
<p>
    CSS-форма используется для создания интерактивной формы для пользователя. CSS предоставляет множество способов настройки стиля.
    Доступно множество свойств CSS, которые можно использовать для создания HTML-форм и их стилизации, чтобы сделать их более интерактивными.
CSS является основой веб-страниц и используется для разработки веб-страниц при стилизации веб-сайтов и веб-приложений.
</p>
<p>2.4 Пагинация</p>
<p>
    Для удобсва просмотра заявок, при их большом количестве, предусмотрена постарничная порядковая нумерация.
    Главной целью пагинации, как способа организации данных на сайте, является улучшение навигации для пользователей и для поисковых роботов.
    Вместо загрузки одной огромной страницы посетитель может перемещаться между разными частями контента с помощью кнопок вида «Следующая страница» и «Предыдущая страница»,
    что одновременно ускоряет работу ресурса и облегчает восприятие информации.
    Заявки отсортированы таким образом, что вверху страницы, находится последняя (наиболее свежая) заявка.
</p>
<p>2.5 Возможность редактирования профиля пользователя</p>
<p>Пользователям предоставлена возможность добавлять, редактировать и удалять свои записи со стороны фронтенда.
    Также предоставлена возможность сохранения изображений профиля. Для этого в директории проекта создана директория  media/profile_pics, в которую сохраняются все картинки аватарок.
    Причем, чтобы картинки не занимали слишком много места на файловом пространстве, предусмотрена возможность "обрезания" до формата 300х300 dpi
</p>

<h3>3. Заключение</h3>
<p> Django – это веб-фреймворк со встроенным интерфейсом администратора и ORM, что делает его идеальным для крупных проектов, систем управления контентом, приложений для социальных сетей и сайтов электронной коммерции.</p>
<p> Flask – легкий микрофреймворк, обеспечивающий гибкость и свободу в выборе расширений, что делает его отличным инструментом для создания прототипов и разработки RESTful API.</p>
<p> FastAPI – современный API-фреймворк, поддерживающий асинхронное программирование, что делает его идеальным для API с большим объемом данных и приложений машинного обучения.</p>

<h3>4. Основные понятия и определения </h3>
<p>
    CSS — это код, который позволяет визуально оформить страницу: раскрасить подзаголовки, поменять фон или отформатировать изображение.
    CSS — важная часть фронтенд-разработки и один из ключевых навыков для веб-разработчика.</p>
<p>Bootstrap - это удобный инструмент для создания адаптивных веб-страниц без необходимости писать большие объемы CSS-кода.
    Он представляет собой набор готовых компонентов, которые можно использовать в своем проекте. С помощью Bootstrap легко
    создавать шаблоны сайтов с разными элементами управления, таблицами, формами и другими интерактивными элементами</p>
<p>MVC (англ. Model-View-Controller, рус. «Модель-Представление-Контроллер») — схема разделения данных приложения и
    управляющей логики на три отдельных компонента: модель, представление и контроллер. Модель предоставляет данные и
    реагирует на команды контроллера, изменяя своё состояние. Представление отвечает за отображение данных модели пользователю,
    реагируя на изменения модели. Контроллер интерпретирует действия пользователя, оповещая модель о необходимости изменений.
    Основная цель применения этой концепции — отделение бизнес-логики (модели) от её визуализации (представления, вида).
    За счёт такого разделения повышается возможность повторного использования кода.
</p>
<p>Django.shortcuts - это пакет, который объединяет функции и служебные классы, охватывающие несколько уровней архитектуры MVC.</p>
<p>Некоторые функции из пакета:</p>
<li>render() - объединяет заданный шаблон с заданным контекстным словарем и возвращает объект HttpResponse с результирующим текстом.</li>
<li>redirect() - возвращает ответ HttpResponseRedirect на URL-адрес, соответствующий переданным параметрам.</li>
<li>get_object_or_404() - вызывает get()-обработчик данной модели, но выдаёт исключение Http404 вместо исключения DoesNotExist модели.</li>
<li>get_list_or_404() -  возвращает результат filter()-преобразования обработчика данной модели в список.</li>
<p></p>
    <p>ORM (англ. Object-Relational Mapping, рус. объектно-реляционное отображение, или преобразование) - технология программирования,
    которая связывает базы данных с концепциями объектно-ориентированных языков программирования, создавая «виртуальную объектную базу данных».</p>
<p>Django ORM - позволяет нам взаимодействовать с базой данных, используя код Python, а не SQL.</p>
<p>
REST API - это архитектурный стиль для разработки веб-сервисов, основанный на стандартных HTTP-методах и
    ресурсоориентированном подходе. Формат данных в REST API может быть разнообразным, включая JSON, XML и другие.
    REST API широко применяется в веб-приложениях и мобильных приложениях для обеспечения межсистемного взаимодействия
    и интеграции с различными сервисами и платформами.
</p>





{% endblock content %}