{% extends "base.html" %}

{% block pagename %}
    <h1>Игры</h1>
{% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
<ul><li>Игра |Описание |</li></ul>
    {%for game in Games%}
        <p></p>
            <ul>
                <p></p>
                <li>{{game.title|title}} | {{game.description}} | Стоимость {{game.cost}} <button>Купить</button> </li>
            </ul>
    {%endfor%}
            <ul>
               <a href="{% url 'basket' %}"> Корзина </a>
            </ul>
{% endblock %}
