{% extends "base.html" %}

{% block content %}
<h1>Добро пожаловать в магазин</h1>

<p>----------------------------------------------------------------</p>
<h5>Это веб приложение на базе фреймворка Django</h5>
<p>
    Это веб приложение выполнено согласно домашнего задания №3 Модуль 19
    по теме "MVT. Вывод объектов в шаблоны".
</p>
<p>Цель: закрепить навыки создания представлений, шаблонов и вызовов QuerySet запросов.
    Понять как работают эти инструменты вместе (паттерн MVT).
</p>
<a href="{% url 'home' %}">Home</a>
{% endblock %}