<!DOCTYPE html>
<html>
  <head>
    <title>Форма регистрации</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <h1>Добро пожаловать в проект «Форма регистрации»!</h1>
    <p>Пожалуйста, заполните эту форму с необходимой информацией</p>
    <form action = "http://127.0.0.1:8000/reg_page">

      <fieldset>
        <label>
            Введите Фамилию: <input type="text" name="first-name" required/>
        </label>
        <label>
            Введите Имя: <input type="text" name="last-name" required/>
        </label>
        <label
          >Введите свой Email: <input type="email" name="email" required/>
        </label>
        <label>
            Создать новый пароль (не менее 8 символов, в формате: a-z0-5):
          <input
            type="password"
            name="password"
            pattern="[a-z0-5]{8,}"
            required/>
        </label>
      </fieldset>
      <fieldset>
        <label>
          <input type="checkbox" name="terms" class="inline" required />
          <a href="https://www.freecodecamp.org/news/terms-of-service/">
              Я принимаю условия и положения
          </a>
        </label>
      </fieldset>
      <fieldset>
        <label>
            Загрузить изображение профиля: <input type="file" name="file"/>
        </label>
        <label>
            Введите свой возраст (количество лет):
          <input type="number" name="age" min="18" max="120" />
        </label>
        <label>
            Как вы узнали о нас?
          <select name="referrer">
            <option value="">(выберите одно из:)</option>
            <option value="1">Новости</option>
            <option value="2">YouTube</option>
            <option value="3">Форум</option>
            <option value="4">Другое</option>
          </select>
        </label>

      </fieldset>
      <input type="submit" value="Отправить"/>
    </form>
  </body>
</html>
