{% extends 'base.html' %}
{% block title %}
Главная страница
{% endblock title %}

{% block body%}
<h1>Главная страница</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Ducimus laboriosam minus nemo quasi.</li>
<li>Dolorem exercitationem expedita ipsa officiis?</li>
<li>Consectetur ea id quae ut.</li>
<li>Molestias nostrum porro ullam veniam!</li>
<li>Consequatur earum laborum possimus sapiente!</li>
<li>Ipsum maiores, voluptatibus! Nobis, sit.</li>
<li>Est facere necessitatibus recusandae suscipit.</li>
<li>Doloribus facilis harum illo ipsum.</li>
<li>Aliquid amet ex laborum ullam.</li>
<li>Odio perspiciatis quas quasi quod.</li>
<li>At ex fuga provident quidem?</li>
<li>Amet blanditiis praesentium quasi sunt.</li>
<li>Blanditiis dolor porro quasi similique?</li>
<li>Amet aut harum maxime numquam.</li>
<li>Cumque distinctio eos nam placeat!</li>
<li>Autem culpa id praesentium quaerat.</li>
<li>Ipsa minus nisi quidem voluptatem!</li>
<li>Autem ducimus eum minus vel!</li>
<li>A corporis harum odio veniam.</li>
<li>Deleniti deserunt ea nemo non!</li>
<li>Accusamus aperiam deleniti impedit quisquam.</li>
<li>Culpa minus molestias repellendus unde.</li>
<li>A atque dolorem harum neque.</li>
<li>Cum molestiae nisi quidem totam?</li>
<li>Dicta ea mollitia recusandae temporibus!</li>
<li>Aspernatur ex numquam quod tempora!</li>
<li>Consequuntur culpa laudantium nisi omnis!</li>
<li>Delectus earum illum molestiae nihil!</li>
<li>Illum minima natus officia vel.</li>
<li>Ducimus natus officiis quasi temporibus!</li>
<li>Aspernatur debitis pariatur provident voluptates?</li>
<li>Laboriosam reprehenderit, saepe. Excepturi, magnam.</li>
<li>Itaque laboriosam porro vel vero?</li>
<li>Consequatur laudantium magni porro repellendus.</li>
<li>Molestiae quasi qui repudiandae temporibus?</li>
<li>Earum eius facilis obcaecati voluptate!</li>
<li>Ab dignissimos laboriosam possimus veritatis!</li>
<li>Aliquid eum facilis ipsa voluptatem.</li>
<li>Perspiciatis, quo voluptas. Odio, tempora?</li>
<li>Aperiam dignissimos est quidem similique!</li>
<li>Aperiam error minima odio tempore.</li>
<li>Dicta minima necessitatibus sunt tenetur?</li>
<li>Consectetur enim in nam provident.</li>
<li>Facere nam qui quia tempora?</li>
<li>Amet blanditiis consectetur error similique.</li>
<li>Amet dolorum ipsam neque voluptatibus!</li>
<li>Accusamus consequatur cum omnis quae.</li>
<li>Cumque deleniti eveniet in qui.</li>
<li>In iste pariatur porro voluptates?</li>
<li>At excepturi itaque necessitatibus saepe!</li>
<li>Ducimus ipsam itaque nulla possimus.</li>
<li>Aperiam consectetur dicta dolore ratione!</li>
<li>Dolore fuga illo ipsa tenetur.</li>
<li>Dolor magni maiores nulla veniam!</li>
<li>Architecto consequuntur laborum reprehenderit vero?</li>
<li>Ipsum minima praesentium quis temporibus.</li>
<li>Alias aliquam impedit nihil odit!</li>
<li>Cum et molestias rem similique?</li>
<li>Cumque itaque nobis non sapiente.</li>
<li>Beatae facilis nam nesciunt optio!</li>
<li>Doloribus officiis quae sint unde.</li>
<li>Eligendi iste itaque magni reiciendis?</li>
<li>Consequatur optio porro ratione soluta.</li>
<li>Maxime mollitia officia quae unde.</li>
<li>Ab cupiditate nesciunt ratione voluptatibus!</li>
<li>Excepturi facere tempore voluptate voluptatum.</li>
<li>A amet cum excepturi iure?</li>
<li>Dignissimos, doloremque magnam. Magnam, minima!</li>
<li>Modi, quaerat, sit! Distinctio, porro?</li>
{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Главная страница</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Главная главная страница</h1>-->
<!--</body>-->
<!--</html>-->