<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
    <h1>Третья страница</h1>
    <button>Игры</button>
        <h3>Выбрать из списка</h3>
    <ul>
        <li>Atomic Heart <button>Купить</button> </li>

        <li>Cyberpunkt 2077 <button>Купить</button> </li>
        <li>PayDay <button>Купить</button> </li>

        <button>На главную</button>>
        <a href="http://127.0.0.1:8000/"> На главную </a>
    </ul>
</body>
</html>